@use 'sass:color';
@use './base' as base;
@use 'sass:math';
@use 'sass:map';

.auth-form {
  padding: base.$padding-md;
  background-color: map.get(base.$light-theme, background-color);
  border-radius: base.$border-radius;
  box-shadow: 0 4px 20px rgba(color.scale(base.$primary-color, $lightness: -20%), 0.5);
  margin: auto;

  .dark-mode & {
    background-color: map.get(base.$dark-theme, navbar-background);
  }

  h2 {
    font-size: base.$font-size-lg;
    margin-bottom: base.$padding-md;
    color: map.get(base.$light-theme, text-color);

    .dark-mode & {
      color: map.get(base.$dark-theme, text-color);
    }
  }

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: base.$padding-sm;
    color: map.get(base.$light-theme, text-color);

    .dark-mode & {
      color: map.get(base.$dark-theme, text-color);
    }

    .form-group {
      display: flex;
      flex-direction: column;
      text-align: left;

      label {
        font-size: base.$font-size-sm;
        font-weight: bold;
        margin-bottom: math.div(base.$padding-sm, 2);
      }

      input {
        padding: base.$padding-sm;
        width: 100%;
        border: 1px solid color.scale(base.$secondary-color, $lightness: -10%);
        border-radius: base.$border-radius;
        font-size: base.$font-size-base;

        &:focus {
          border-color: base.$primary-color;
          outline: none;
          @include base.focus-visible;
        }
      }
    }

    button {
      background-color: base.$primary-color;
      color: white;
      padding: base.$padding-md;
      border: none;
      border-radius: base.$border-radius;
      font-size: base.$font-size-lg;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: color.scale(base.$primary-color, $lightness: -10%);
      }

      &:disabled {
        background-color: color.scale(base.$primary-color, $lightness: 30%);
        cursor: not-allowed;
      }
    }

    .form-footer {
      a {
        color: base.$link-color;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
