@use 'sass:color';
@use './base' as base;

.crypto-detail {
  .table-container {
    background: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    padding: base.$padding-md;

    .table-heading {
      font-size: base.$font-size-lg;
      margin-bottom: base.$padding-md;
      text-align: center;
      color: base.$primary-color;
    }

    table {
      margin-bottom: 0;

      th {
        font-weight: 600;
      }

      td {
        text-align: right;
        font-family: monospace;
      }
    }
  }
}

.crypto-header {
  background: white;
  padding: base.$padding-md;
  border-radius: base.$border-radius;
  box-shadow: base.$box-shadow;
  margin-bottom: base.$padding-lg;

  .crypto-info {
    flex-grow: 1;
    text-align: center;

    h1 {
      margin-bottom: 0;
      font-size: 1.75rem;
    }

    p {
      margin-top: base.$padding-sm;
    }
  }

  .crypto-image {
    width: 20%;
    height: auto;
  }
}
