@use 'sass:map';
@use 'sass:color';
@use './base' as base;

.profile-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: base.$padding-sm;
  max-width: 100%;

  .card {
    background-color: map.get(base.$light-theme, secondary-color);
    border-radius: base.$border-radius;
    margin: 0 auto;
    transition: all 0.3s ease;

    .dark-mode & {
      background-color: map.get(base.$dark-theme, navbar-background);
    }

    input::placeholder {
      color: map.get(base.$light-theme, text-color);
      .dark-mode & {
        color: map.get(base.$dark-theme, text-color);
      }
    }

    .card-body {
      padding: base.$padding-md;
    }

    h2 {
      @extend .h4 !optional;
      margin-bottom: base.$padding-sm;
      color: map.get(base.$light-theme, text-color);

      .dark-mode & {
        color: map.get(base.$dark-theme, text-color);
      }
    }

    .form-label {
      @extend .fw-bold !optional;
      margin-bottom: base.$padding-sm;
      color: map.get(base.$light-theme, text-color);

      .dark-mode & {
        color: map.get(base.$dark-theme, text-color);
      }
    }
    .form-control {
      margin-bottom: base.$padding-sm;
      background-color: map.get(base.$light-theme, secondary-color);
      color: map.get(base.$light-theme, text-color);
      border: 1px solid map.get(base.$light-theme, text-color);

      border-radius: base.$border-radius;
      transition: all 0.3s ease;

      &:focus {
        border-color: map.get(base.$light-theme, primary-color);
        box-shadow: 0 0 0 0.2rem rgba(map.get(base.$light-theme, primary-color), 0.25);
      }

      &:disabled {
        background-color: rgba(map.get(base.$light-theme, secondary-color), 0.7);
      }

      .dark-mode & {
        color-scheme: dark;
        background-color: map.get(base.$dark-theme, background-color);
        color: map.get(base.$dark-theme, text-color);
        border-color: map.get(base.$dark-theme, secondary-color);

        &:focus {
          border-color: map.get(base.$dark-theme, primary-color);
          box-shadow: 0 0 0 0.2rem rgba(map.get(base.$dark-theme, primary-color), 0.25);
        }
        &:disabled {
          background-color: rgba(map.get(base.$dark-theme, background-color), 0.7);
          color: map.get(base.$dark-theme, text-color);
        }
      }
    }
  }
}
