@use './auth' as auth;
@use './base' as base;

.form-footer {
  margin-top: base.$padding-md;
  font-size: base.$font-size-sm;
  text-align: center;

  a {
    color: base.$link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-top: base.$padding-sm;
  }
}
